# Ice Cap Sizes

This notebook reads the exploded data files and calculates the sizes of the ice caps and ice catchments in them and then adds those areas to the dataframe.

These are the regions where ice caps are being evaluated:

* Region 3 - Arctic Canada, North
* Region 4 - Arctic Canada, South
* Region 5 - Greenland
* Region 6 - Iceland
* Region 7 - Svalbard and Jan Mayen
* Region 8 - Scandinavia
* Region 9 - Russian Arctic
* Region 10 - Asia, North
* Region 17 - Southern Andes

In [1]:
import os
import os.path as op
import sys
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

# set working dir
HOME = op.join(op.expanduser("~"))
os.chdir(os.path.join(HOME, "git/wgms-glacier-project"))

# Set up path to load scripts
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import scripts.wgms_scripts as ws

In [34]:
# Set up data dictionary with CRS codes for each region
crs_codes = {
            'region3' : 'epsg:3347', # another possibility - 'esri:102001'
            'region4' : 'epsg:3347',
            'region5' : 'epsg:32627',
            'region6' : 'epsg:3057',
            'region7' : 'text4', 
            'region8' : 'text5',
            'region9' : 'text6',
            'region10' : 'text7',
            'region17' : 'text8'
            }

In [17]:
crs_codes['region5']

'epsg:4909'

# Region 3 - Arctic Canda - North

In [3]:
# Open the region 3 exploded file
region_3_fn = "data/glims/processed/ice-caps/exploded/exploded_3.shp"
glims_region_3_df = gpd.read_file(region_3_fn)

In [4]:
# Determine the area of all the polygons
region_3_polygon_areas = glims_region_3_df['geometry'].to_crs({'init': crs_codes['region3']}).area/10**6

In [5]:
# Add the areas to the dataframe
glims_region_3_df = glims_region_3_df.assign(area=region_3_polygon_areas)

In [6]:
# Determine the 10 largest ice caps
r3_ten_largest_df = glims_region_3_df[['id', 'area']].nlargest(10, 'area')

In [7]:
# Print 10 largest and their size in km^2
r3_ten_largest_df

        id          area
13      13  21159.547290
9        9  19311.322286
15      15  18917.749968
1        1  13655.168957
8        8   8142.302043
2        2   5296.297354
937    937   2824.569443
444    444   2628.430841
7        7   1871.517710
1690  1690   1769.351275

# Region 4 - Arctic Canada - South

In [8]:
# Open the region 4 exploded file
region_4_fn = "data/glims/processed/ice-caps/exploded/exploded_4.shp"
glims_region_4_df = gpd.read_file(region_4_fn)

In [9]:
# Determine the area of all the polygons
region_4_polygon_areas = glims_region_4_df['geometry'].to_crs({'init': crs_codes['region4']}).area/10**6

In [10]:
# Add the areas to the dataframe
glims_region_4_df = glims_region_4_df.assign(area=region_4_polygon_areas)

In [11]:
# Determine the 10 largest ice caps
r4_ten_largest_df = glims_region_4_df[['id', 'area']].nlargest(10, 'area')

In [12]:
# Print 10 largest and their size in km^2
r4_ten_largest_df

        id         area
1771  1771  6133.372139
3382  3382  5570.586780
3251  3251  4556.131138
3344  3344  3059.690552
1795  1795  1532.268244
1915  1915  1070.328156
3487  3487   837.697915
3346  3346   814.051593
1904  1904   648.613332
3343  3343   552.572123

# Region 5 - Greenland

In [29]:
# Open the region 5 exploded file
region_5_fn = "data/glims/processed/ice-caps/exploded/exploded_5.shp"
glims_region_5_df = gpd.read_file(region_5_fn)

In [30]:
# Determine the area of all the polygons
region_5_polygon_areas = glims_region_5_df['geometry'].to_crs({'init': crs_codes['region5']}).area/10**6

In [31]:
# Add the areas to the dataframe
glims_region_5_df = glims_region_5_df.assign(area=region_5_polygon_areas)

In [32]:
# Determine the 10 largest ice caps
r5_ten_largest_df = glims_region_5_df[['id', 'area']].nlargest(10, 'area')

In [33]:
# Print 10 largest and their size in km^2
r5_ten_largest_df

          id          area
296      296  56599.685747
11869  11869   9023.930960
11805  11805   4116.877839
12146  12146   3983.283896
6719    6719   3825.195603
4962    4962   3258.509003
10909  10909   3229.220810
181      181   2778.687209
4966    4966   2353.984546
4963    4963   2194.105893

# Region 6 - Iceland

In [35]:
# Open the region 6 exploded file
region_6_fn = "data/glims/processed/ice-caps/exploded/exploded_6.shp"
glims_region_6_df = gpd.read_file(region_6_fn)

In [36]:
# Determine the area of all the polygons
region_6_polygon_areas = glims_region_6_df['geometry'].to_crs({'init': crs_codes['region6']}).area/10**6

In [37]:
# Add the areas to the dataframe
glims_region_6_df = glims_region_6_df.assign(area=region_6_polygon_areas)

In [38]:
# Determine the 10 largest ice caps
r6_ten_largest_df = glims_region_6_df[['id', 'area']].nlargest(10, 'area')

In [39]:
# Print 10 largest and their size in km^2
r6_ten_largest_df

      id         area
1      1  8086.675817
56    56   920.460115
147  147   889.067509
14    14   596.839837
247  247   145.966965
0      0    79.827490
38    38    38.430999
27    27    29.510921
36    36    17.042419
263  263    11.867219