# Ice Cap Sizes

This notebook reads the exploded data files and calculates the sizes of the ice caps and ice catchments in them and then adds those areas to the dataframe.

In [1]:
import os
import os.path as op
import sys
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

# set working dir
HOME = op.join(op.expanduser("~"))
os.chdir(os.path.join(HOME, "git/wgms-glacier-project"))

# Set up path to load scripts
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import scripts.wgms_scripts as ws

In [2]:
# Open the region 3 exploded file
region_3_fn = "data/glims/processed/ice-caps/exploded/"
glims_region_3_df = gpd.read_file(region_3_fn)

In [3]:
glims_region_3_df.head()

   id                                           geometry
0   0  POLYGON ((-129.77364 54.433757, -129.773664 54...
1   1  POLYGON ((-129.945759 54.398699, -129.945785 5...
2   2  POLYGON ((-129.731727 54.570413, -129.731702 5...
3   3  POLYGON ((-129.6887551166636 54.60480889093763...
4   4  POLYGON ((-129.505904 54.657559, -129.505751 5...

In [5]:
polygon1 = glims_region_3_df.iloc[0:1]
polygon1

   id                                           geometry
0   0  POLYGON ((-129.77364 54.433757, -129.773664 54...

In [6]:
#print(polygon1['geometry'].to_crs({'init': 'epsg:32633'}).area/10**6)
print(polygon1['geometry'].area)

0    0.000265
dtype: float64

In [31]:
glims_region_3_df.crs

{'init': 'epsg:4326'}

In [18]:
# determine the area of all the polygons
region_3_polygon_areas = glims_region_3_df['geometry'].to_crs({'init': 'epsg:3338'}).area/10**6

In [24]:
# determine the area of all the polygons
region_3_polygon_areas_3857 = glims_region_3_df['geometry'].to_crs({'init': 'epsg:3857'}).area/10**6

In [26]:
# determine the area of all the polygons
region_3_polygon_areas_26911 = glims_region_3_df['geometry'].to_crs({'init': 'epsg:26911'}).area/10**6

In [28]:
# determine the area of all the polygons
region_3_polygon_areas_26912 = glims_region_3_df['geometry'].to_crs({'init': 'epsg:26912'}).area/10**6

In [19]:
region_3_polygon_areas

0          1.913323
1          1.228206
2          0.291838
3          0.597536
4          1.732741
            ...
19369     13.959257
19370      4.571569
19371      4.080607
19372     71.936532
19373    323.045219
Length: 19374, dtype: float64

In [25]:
region_3_polygon_areas_3857

0           5.644715
1           3.615705
2           0.866597
3           1.776972
4           5.166533
            ...
19369      58.619718
19370      19.208133
19371      17.141228
19372     302.885601
19373    1362.820664
Length: 19374, dtype: float64

In [27]:
region_3_polygon_areas_26911

0          1.944049
1          1.248506
2          0.296457
3          0.606902
4          1.758963
            ...
19369     14.740882
19370      4.830294
19371      4.260806
19372     75.821741
19373    341.214452
Length: 19374, dtype: float64

In [29]:
region_3_polygon_areas_26912

0          1.981405
1          1.272787
2          0.302099
3          0.618400
4          1.791806
            ...
19369     15.092903
19370      4.945988
19371      4.354836
19372     77.608100
19373    349.346498
Length: 19374, dtype: float64

In [20]:
# df1 = df1.assign(e=pd.Series(np.random.randn(sLength)).values)
glims_region_3_df = glims_region_3_df.assign(area=region_3_polygon_areas)

In [21]:
glims_region_3_df.head()

   id                                           geometry      area
0   0  POLYGON ((-129.77364 54.433757, -129.773664 54...  1.913323
1   1  POLYGON ((-129.945759 54.398699, -129.945785 5...  1.228206
2   2  POLYGON ((-129.731727 54.570413, -129.731702 5...  0.291838
3   3  POLYGON ((-129.6887551166636 54.60480889093763...  0.597536
4   4  POLYGON ((-129.505904 54.657559, -129.505751 5...  1.732741

In [22]:
ten_largest_df = glims_region_3_df[['id', 'area']].nlargest(10, 'area')

In [23]:
ten_largest_df

          id          area
497      497  30194.890249
435      435   5816.707100
461      461   5182.769461
482      482   4129.082821
434      434   3169.856774
480      480   3081.313806
493      493   1744.887698
383      383   1645.822861
15890  15890   1384.994039
14012  14012   1284.155076

In [33]:
glims_region_3_df_3857 = glims_region_3_df.assign(area=region_3_polygon_areas_3857)

In [34]:
glims_region_3_df_3857.head()

   id                                           geometry      area
0   0  POLYGON ((-129.77364 54.433757, -129.773664 54...  5.644715
1   1  POLYGON ((-129.945759 54.398699, -129.945785 5...  3.615705
2   2  POLYGON ((-129.731727 54.570413, -129.731702 5...  0.866597
3   3  POLYGON ((-129.6887551166636 54.60480889093763...  1.776972
4   4  POLYGON ((-129.505904 54.657559, -129.505751 5...  5.166533

In [35]:
ten_largest_df_3857 = glims_region_3_df_3857[['id', 'area']].nlargest(10, 'area')

In [36]:
ten_largest_df_3857

          id           area
497      497  124050.004090
461      461   22445.209546
435      435   21883.900294
482      482   18542.209546
480      480   14820.744452
434      434   11846.109477
15890  15890    6944.835670
493      493    6938.545256
383      383    5789.630985
14012  14012    5617.842379